In [23]:
import pandas as pd
import numpy as np
import tensorflowjs as tfjs
from keras import models
from keras import layers

In [5]:
data_train = pd.read_csv(
    "train.csv")
data_train.head(5)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [6]:
data_test = pd.read_csv("test.csv")
data_test.head(5)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [7]:
def omitted_values(data):
    print(pd.isnull(data).sum()) # Verificamos que no tenga valores omitidos

In [8]:
omitted_values(data_test)

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_comer_ult3          0
imp_op_var40_efect_ult1          0
imp_op_var40_efect_ult3          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult1          0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1_0                       0
ind_var1                         0
ind_var2_0                       0
ind_var2                         0
ind_var5_0                       0
ind_var5                         0
ind_var6_0                       0
ind_var6                         0
ind_var8_0                       0
ind_var8                         0
                                ..
saldo_medio_var12_ult3           0
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult1     0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace2    0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace2    0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var13_medio_ult3     0
saldo_medio_var17_hace2          0
saldo_medio_var17_hace3          0
saldo_medio_var17_ult1           0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var29_ult3           0
saldo_medio_var33_hace2          0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult1           0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace2          0
saldo_medio_var44_hace3          0
saldo_medio_var44_ult1           0
saldo_medio_var44_ult3           0
var38                            0
Length: 370, dtype: int64

In [9]:
omitted_values(data_train)

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_comer_ult3          0
imp_op_var40_efect_ult1          0
imp_op_var40_efect_ult3          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult1          0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1_0                       0
ind_var1                         0
ind_var2_0                       0
ind_var2                         0
ind_var5_0                       0
ind_var5                         0
ind_var6_0                       0
ind_var6                         0
ind_var8_0                       0
ind_var8                         0
                                ..
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult1     0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace2    0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace2    0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var13_medio_ult3     0
saldo_medio_var17_hace2          0
saldo_medio_var17_hace3          0
saldo_medio_var17_ult1           0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var29_ult3           0
saldo_medio_var33_hace2          0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult1           0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace2          0
saldo_medio_var44_hace3          0
saldo_medio_var44_ult1           0
saldo_medio_var44_ult3           0
var38                            0
TARGET                           0
Length: 371, dtype: int64

In [10]:
def get_input(data, test = False):
    if test:
        return data.drop(["ID"], axis = 1) 
    else:
        return data.drop(["ID", "TARGET"], axis = 1)

In [11]:
def get_output(data):
    return data[["TARGET"]]

In [12]:
input_train = get_input(data_train)
output_train = get_output(data_train)

In [13]:
input_test = get_input(data_test, test = True)

In [14]:
input_train.shape

(76020, 369)

In [16]:
print(output_train.shape)
print(output_train.dtypes)

(76020, 1)
TARGET    int64
dtype: object

In [26]:
input_test.shape

(75818, 369)

In [59]:
mean_test = input_test.mean(axis = 0)
mean_test.to_csv("mean_test.csv", header=["value"], index = 1)

In [18]:
def get_model(arr):
    model = models.Sequential()
    for i in range(len(arr)):
        if i!=0 and i!=len(arr)-1:
            if i==1:
                model.add(layers.Dense(arr[i],input_dim=arr[0],kernel_initializer='normal', activation='relu'))
            else:
                model.add(layers.Dense(arr[i],activation='relu'))
    model.add(layers.Dense(arr[-1],kernel_initializer='normal',activation="sigmoid"))
    model.compile(loss="binary_crossentropy",optimizer='rmsprop',metrics=['accuracy'])
    return model

In [19]:
network = get_model([369, 200, 50, 1])

In [21]:
network.fit(np.array(input_train), np.array(output_train), epochs = 20)

Epoch 1/20
76020/76020 [==============================] - 8s 110us/step - loss: 0.6390 - acc: 0.9604
Epoch 2/20
76020/76020 [==============================] - 9s 115us/step - loss: 0.6380 - acc: 0.9604
Epoch 3/20
76020/76020 [==============================] - 7s 93us/step - loss: 0.6380 - acc: 0.9604
Epoch 4/20
76020/76020 [==============================] - 8s 99us/step - loss: 0.6380 - acc: 0.9604
Epoch 5/20
76020/76020 [==============================] - 8s 102us/step - loss: 0.6380 - acc: 0.9604
Epoch 6/20
76020/76020 [==============================] - 8s 108us/step - loss: 0.6380 - acc: 0.9604
Epoch 7/20
76020/76020 [==============================] - 9s 117us/step - loss: 0.6380 - acc: 0.9604
Epoch 8/20
76020/76020 [==============================] - 9s 118us/step - loss: 0.6380 - acc: 0.9604
Epoch 9/20
76020/76020 [==============================] - 9s 115us/step - loss: 0.6380 - acc: 0.9604
Epoch 10/20
76020/76020 [==============================] - 9s 113us/step - loss: 0.6380 - acc: 0.9604
Epoch 11/20
76020/76020 [==============================] - 8s 108us/step - loss: 0.6380 - acc: 0.9604
Epoch 12/20
76020/76020 [==============================] - 8s 99us/step - loss: 0.6380 - acc: 0.9604
Epoch 13/20
76020/76020 [==============================] - 8s 107us/step - loss: 0.6380 - acc: 0.9604
Epoch 14/20
76020/76020 [==============================] - 10s 127us/step - loss: 0.6380 - acc: 0.9604
Epoch 15/20
76020/76020 [==============================] - 10s 136us/step - loss: 0.6380 - acc: 0.9604
Epoch 16/20
76020/76020 [==============================] - 10s 130us/step - loss: 0.6380 - acc: 0.9604
Epoch 17/20
76020/76020 [==============================] - 9s 118us/step - loss: 0.6380 - acc: 0.9604
Epoch 18/20
76020/76020 [==============================] - 10s 135us/step - loss: 0.6380 - acc: 0.9604
Epoch 19/20
76020/76020 [==============================] - 10s 127us/step - loss: 0.6380 - acc: 0.9604
Epoch 20/20
76020/76020 [==============================] - 10s 128us/step - loss: 0.6380 - acc: 0.9604

In [ ]:
preds = network.predict(np.array(input_test))

In [25]:
tfjs.converters.save_keras_model(network, "user_satisfaction_network")